@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Noto+Sans+TC:wght@300&family=Noto+Serif+TC&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/**/
.headerCover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, #332DFD, #1DA1F2, #41D6FE, #32e2df);
    background-size: 400% 400%;
    animation: gradient 15s ease;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.headerCover .quote {
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
}

.headerCover .quote .char {
    display: inline-block;
    letter-spacing: 2px;
    font-family: 'Moon Dance';
    font-size: 3rem;
    font-weight: bolder;
    opacity: 0;
}

.headerCover .loadingBar {
    position: relative;
    margin-top: 20px;
    width: 100vw;
    height: 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.368);
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.headerCover .loadingBar .loadingValue {
    position: absolute;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1dccfa+1,075aea+100 */
    background: linear-gradient(to right, #e2f9ff 1%, #075aea 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 400% 400%;
    animation: loadingBar 15s ease;
    width: 0;
    height: 10px;
}



/**/


body ul,
body ol,
body li {
    padding: 0;
    margin: 0;
    list-style: none;
}

body a {
    text-decoration: none;
}

input:focus {
    outline: none
}

select::-ms-expand {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: #ffffff;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.16);
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 270px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #505561;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 0 3px;
    z-index: 3;
    transition: all 2s;
}

header .WP {
    width: 100%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.scroll {
    background-color: #fff;
}

header.scroll .left a {
    background: url('../img/logo.png') no-repeat center;
    background-size: contain;
}

header .left a.login {
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

header.scroll .left a.login {
    background: none;
    position: absolute;
    right: 25px;
    top: 25px;
    color: #3268AA;
    font-size: 1rem;
    font-weight: 600;
}

header.scroll .right a {
    color: #444;
}

header .left {
    width: auto;
}

header .left a {
    display: block;
    background: url('../img/logoW.png') no-repeat center;
    background-size: contain;
    width: 160px;
}

header .left a.black {
    background: url('../img/logo.png') no-repeat left center;
    background-size: contain;
}

header .left a h1 {
    text-indent: -9999px;
    opacity: 0;
}

header .right {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .menu {
    width: 320px;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 3;
    padding: 10px 0;
    background-color: #fff;
    height: 100vh;
}

header .menu .close {
    height: 32px;
    margin-left: 88%;
}

header .menu .close.animation {
    animation-name: Xrotate;
    animation-duration: 1.5s;
}

@keyframes Xrotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(270deg);
    }
}

header .menu .black {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: 30px auto 20px;
}

header .menu a {
    display: block;
    margin: 0;
    color: #254DDA;
    font-size: 1rem;
    font-weight: 400;
    line-height: 70px;
    padding: 8px 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}

header .menu a.top {
    border-top: 1px solid #eee;
}

header .menu .black a:nth-child(2):after {
    content: '';
}

header .menu .black a {
    color: #fff;
    background-color: #3268AA;
    width: 272px;
    height: 40px;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
}

header .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: #0a264e75;
    display: none;
    z-index: 1;
    margin-left: 10%;
}

header nav {
    width: 25px;
    height: 40px;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 25px;
    top: 13px;
}

header nav span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

header.scroll nav span {
    background: #332DFD;
}

header nav span:nth-of-type(1) {
    top: 2px;
}

header nav span:nth-of-type(2) {
    top: 12px;
}

header nav span:nth-of-type(3) {
    top: 22px;
}

.menuOpen header nav span:nth-of-type(1) {
    top: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #3268AA;
    opacity: 0;
}

.menuOpen header nav span:nth-of-type(2) {
    width: 0;
    right: 0
}

.menuOpen header nav span:nth-of-type(3) {
    top: 12px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: #3268AA;
    opacity: 0;
}

header .right a {
    font-size: 1.125rem;
    margin-right: 20px;
    font-weight: 400;
    text-align: right;
    color: #fff;
    position: relative;
    transition: all .5S;
}

header .right a.black {
    color: rgb(124, 124, 124);
}

header.scroll .top a.login {
    background-color: #0287ec;
    color: #fff;
}


/*main*/
#main {
    width: 100%;
    overflow-x: hidden;
}

#main .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url('../img/banner2.webp') no-repeat center;
    background-size: cover;
}

#main .banner img {
    height: 77px;
}

#main .banner p {
    font-size: 24px;
    line-height: 1.7rem;
    color: #fff;
    font-weight: 200;
    margin-top: 20px;
}

#main .banner p.en {
    max-width: 1500px;
    width: 1000px;
    margin: 30px auto 0;
    font-size: 1.15rem;
    color: #fff;
    text-align: left;
}

#main .banner p.title {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}

#main .banner p.title span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 19px;
    display: inline-block;
    position: relative;
    top: -14px;
}

#main .banner p.title span::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 4px;
    top: 4px;
    background-color: #fff;
    border-radius: 50%;

}

#main .banner a {
    height: 52px;
    border-radius: 26px;
    background-color: #25c1ed;
    padding: 0 50px;
    line-height: 52px;
    color: #fff;
    font-size: 15px;
    margin: 58px auto 0;
    position: relative;
    transition: all .8s;
    display: block;
    width: 80px;
    opacity: 0;
}

#main .banner a:hover {
    color: #FFFFFF;
    background-color: #1DA1F2;
}

#main .row {
    width: 100%;
    margin: 0 auto;
}

#about {
    width: 100%;
    height: auto;
    padding: 60px 0 0;
}

#main .row1 {
    max-width: 1500px;
    width: 90%;
}

#main .row2 .wp {
    max-width: 1500px;
    width: 90%;
    margin: 60px auto 80px;
    position: relative;
}

#main p {
    color: #444;
    line-height: 1.7rem;
    font-size: 1.15rem;
    font-weight: 100;
    margin: 0 auto 20px;
    width: 80%;
    text-align: center;
}

#main p.white {
    color: #fff;
}

#main .flex p {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main .flex span.title {
    font-size: 1.25rem;
    height: auto;
    padding-left: 0;
    font-weight: 300;
    color: #666;
}

#main .flex span {
    font-size: 1rem;
    width: 100%;
    height: 128px;
}

#main .flex p img {
    width: 80px;
}



#main p.left {
    text-align: left;
    color: #6e6e6e;
}

#main p.left strong {
    color: #4260f7;
    font-weight: 200;
}

#main p.title.white {
    color: #fff;
    font-weight: 500;
    line-height: 1.2rem;
    padding-left: 0;
    width: 500px;
    margin: 0 auto 20px;
    text-align: left;
}

#main p.title.bold {
    font-weight: 500;
    color: #6c6c6c;
}

#main p.title.white::after {
    display: none;
}

#main .title {
    font-weight: 500;
    color: #6c6c6c;
    padding-left: 1.5rem;
    font-size: 2.5rem;
    line-height: 38px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

#main span.color_red {
    color: #3555FC;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .flex {
    width: 80%;
    margin: 30px auto 50px;
    flex-wrap: wrap;
}

#main .flex.mobile {
    display: none;
}

#main .flex.mobile .top,
#main .flex.mobile .down {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .flex .item,
#product .flex .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#main .flex {
    margin-top: 84px;
    position: relative;
}

#main .row2,
#main .row3 {
    background: #F9F9F9;
    padding: 85px 20px;
    box-sizing: border-box;
}

#main .row2>.flex {
    width: 100%;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.imgWp {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.imgWp img {
    display: block;
    margin: 0 auto;
    height: 80vh;
}

#main .row2 .flex img {
    height: 48px;
}

#main .row2 .flex img.device {
    width: 200px;
    height: auto;
}

#main .row2 .flex .left,
#main .row2 .flex .middle,
#main .row2 .flex .right {
    width: 33%;
    margin: 0 auto 120px;
}

#main .row2 .flex .left .flex,
#main .row2 .flex .right .flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#main .row2 .flex .left .text,
#main .row2 .flex .right .text {
    width: 100%;
    text-align: center;
}

#main .row2 .flex .left .text p,
#main .row2 .flex .right .text p {
    font-size: 1.25rem;
    margin-left: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
    font-weight: 200;
}

#main .row2 .flex>div.text span {
    color: #444;
    font-size: .9rem;
    font-weight: 100;
}

#main .row3 {
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#service {
    position: relative;
    background: linear-gradient(to bottom, #acbaee 0%, #5b76d7 100%);
    width: 100%;
    height: 100vh;
}

#service img {
    height: 60vh;
    width: auto;
    display: block;
    margin: 0 auto;
    padding-top: 20vh;
}

#service p,
#service .title {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
}

#service p {
    bottom: 6%;
    left: 0
}

#service .title {
    top: 7%;
    left: 0;
}

#case {
    background-color: #fff;
    padding: 100px 0;
}

.caseWp {
    background-color: #C6C6C6;
    min-height: 500px;
    position: relative;
}

#case .logoWp .flex img.Width50 {
    display: block;
}

#case .logoWp .flex img.Width50, #case .Width50 {
    width: 50%;
    height: 400px;
}

#case .logoWp .flex img {
    width: auto;
    height: 92px;
    display: block;
    margin: 0 auto;
}

#case .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

#case .logoWp .flex li {
    margin: 0 12px;
}

.flex-control-nav {
    display: none;
}

#contact img {
    width: 500px;
    height: 500px;
}

#contact {
    position: relative;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 50px 0;
    position: relative;
    box-sizing: border-box;
}

#contact::after {
    content: '';
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#41d5fd+0,1da1f2+50,332dfd+100 */
    background: linear-gradient(to right, #41d5fd 0%, #1da1f2 50%, #332dfd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: -20px;
}

#contact .right,
#contact .left {
    width: 44%;
}

#contact .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .left {
    box-sizing: border-box;
    padding: 50px;
}

#contact .title {
    margin: 0 0 30px;
}

#map {
    width: 500px;
    height: 400px;
}

#contact img {
    width: 22px;
    height: 22px;
}

#contact .textFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0;
}

#contact p {
    color: #222;

}

#contact p.small {
    font-size: 1rem;
    margin-bottom: 70px;
}

#contact .border {
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
}

#contact .border span {
    font-size: 1.15rem;
}

#contact .border span:nth-child(1) {
    margin-right: 10px;
    display: inline-block;
    width: 88px;
    font-weight: 200;
}

#contact .border.nomargin {
    margin-bottom: 0;
}

@media(max-width:1500px) {
    #main .banner p.en {
        height: 64px;
    }

}

@media(max-width:1400px) {
    #main .flex {
        width: 90%;
    }

}

@media(max-width:1280px) {

    #case .logoWp .flex li {
        width: 24%;
    }
}

@media(max-width:1200px) {
    header .WP {
        justify-content: space-around;
    }

}

@media (max-width:1080px) {
    header .WP {
        justify-content: space-between;
    }

    header {
        padding: 5px 0;
        box-sizing: border-box;
    }

    #main .flex {
        width: 100%;
    }

    #main .banner p.en {
        width: 785px;
    }

    #case .logoWp .flex li {
        width: 30%;
    }

    #contact .right, #contact .left {
        width: 50%;
    }

    #contact .right {
        padding-right: 20px;
    }

    #map {
        width: 400px;
    }

    #contact p.small {
        width: 100%;
    }
}

@media (max-width:1000px) {
    #main .flex {
        width: 90%;
    }

    #main .flex p {
        width: 50%;
    }

    #main .flex.one {
        width: 100%;
    }

    #main .row2 .flex .left,
    #main .row2 .flex .right {
        width: 25%;
    }

    #main .row2 .flex .middle {
        width: 50%;
    }

    #case .logoWp .flex img {
        height: 80px;
    }

    #main .flex p img {
        width: 66px;
    }
}

@media(max-width:900px) {
    #main .banner {
        min-height: 800px;
    }

    #main .banner p.en {
        width: 714px;
    }

    #main .banner .left {
        width: 55%;
    }

    header .left {
        width: auto;
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    #main p {
        width: 96%;
    }



    #product .flex .item {
        width: 30%;
    }
}

@media(max-width:850px) {

    #main .banner p.title,
    #main p.title {
        font-size: 2.3rem;

    }

    #main p.title.white {
        width: 380px;
    }

    #main .banner p.en {
        width: 621px;
        margin-top: 10px;
        font-size: 1rem;
    }

    #main p.description {
        font-size: 1rem;
    }

    #case .logoWp .flex li {
        width: 27%;
    }

    #contact p.small {
        font-size: .9rem;
    }
}

@media(max-width:800px) {
    .headerCover .quote .char {
        font-size: 2rem;
    }

    header {
        padding: 0;
    }

    header .WP {
        padding-top: 0;
    }

    header nav {
        display: block;
    }

    header .right {
        display: none;
    }

    header .menu {
        box-sizing: border-box;
        overflow-y: scroll;
    }

    header .WP {
        align-items: center;
    }

    header .left {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        transition: all 2s;
    }

    header.scroll .left {
        background-color: #fff;
    }

    header .left a {
        width: 250px;
        margin: 0 auto;
        height: 50px;
    }

    header .left a.login {
        display: block;
        width: auto;
        background: none;
        color: #fff;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.1rem;
    }

    #main .row2 .flex img {
        height: 40px;
    }

    #main .banner p.en {
        width: 536px;
    }

    #case .logoWp .flex img {
        height: 64px;
    }
}

@media(max-width:750px) {
    #contact {
        flex-direction: column;
        align-items: center;
    }

    #contact .right, #contact .left {
        width: 90%;
    }

    #contact .right {
        padding-right: 0;
    }
}

@media(max-width:700px) {
    #main .flex {
        width: 100%;
        flex-wrap: wrap;
    }

    #main .row2 .wp {
        width: 100%;
    }

    #main .flex p {
        width: 75%;
    }

    #main .flex .item {
        width: 40%;
    }

    #main .row2 .flex i {
        margin-bottom: 10px;
    }

    #main .moreContent .flex .item p.big {
        text-align: center;
        margin-left: 0;
    }


    #product .flex .item {
        width: 40%;
    }

    #case {
        padding: 50px 0;
    }

    #case .flex {
        width: 80%;
    }

    #case .logoWp .flex li {
        width: 40%;
    }

    #contact .border span {
        font-size: 1rem;
    }
}


@media(max-width:600px) {
    header .left a {
        width: 200px;
    }

    .imgWp {
        top: 184px;
    }

    #main .banner p.en {
        width: 500px;
    }

    #main .flex.mobile {
        display: block;
    }

    #main .row2 .flex {
        width: 90%;
    }

    #main .row2 .flex.one {
        width: 100%;
    }

    #main .row2 .flex .left .text p,
    #main .row2 .flex .right .text p {
        font-size: 1rem;
    }

    #contact .left {
        padding: 50px 30px;
    }

}

@media(max-width:555px) {

    #case .flex {
        width: 95%;
    }

    #case .logoWp .flex li {
        width: 80%;
        margin: 0 2px;
    }

    #case .logoWp .flex img {
        height: 96px;
    }

    #main .flex p img {
        width: 48px;
    }
}

@media(max-width:550px) {

    #main .banner p.en {
        width: 450px;
        font-size: .95rem;
        margin-bottom: 44px;
    }

    #main p.description,
    #main .flex span {
        font-size: .95rem;
    }

    #main .banner p.title span {
        top: 0;
        margin: 0 8px;
    }

    #main .banner p {
        font-size: .7rem;
    }

    #main .banner a {
        margin-top: 16px;
        height: 36px;
        line-height: 36px;
    }

    #main .bannerWp {
        background: url(../img/banner2.webp) no-repeat 32% 22%;
        background-size: cover;
    }

    #main .title {
        padding-left: 0;
    }

    #main .title:after {
        display: none;
    }

    #main p {
        font-size: .9rem;
    }

    #main .row2 {
        padding: 35px 20px;
    }

    #main .flex {
        flex-direction: column;
        margin-top: 70px;
    }

    #main .row2 .flex>div {
        width: 100%;
        align-items: flex-start;
        margin: 0 auto 70px;
    }

    #main .row2 .flex>div.text {
        width: 100%;
        margin-left: 0;
    }

    #main .row2 .flex.one {
        flex-direction: row;
        width: 70%;
        margin-top: 44px;
    }

    .imgWp,
    #main .row2 .flex .middle {
        display: none;
    }

    #main .row2 .flex .left,
    #main .row2 .flex .right {
        width: 50%;
    }

    #main .row2 .flex .left .flex,
    #main .row2 .flex .right .flex {
        margin: 0 auto;
    }

    #main .row2 .flex .left .text,
    #main .row2 .flex .right .text,
    #main .row2 .flex .left,
    #main .row2 .flex .middle,
    #main .row2 .flex .right {
        margin-bottom: 20px;
    }

    #main .flex span.title {
        font-size: 1.15rem;
    }

    #contact .left {
        padding: 30px 30px 50px;
    }
}

@media(max-width:500px) {
    .headerCover .quote .char {
        font-size: 1.8rem;
    }

    header {
        justify-content: center;
    }

    #main .banner p.en {
        width: 414px;
    }

    #main .flex p {
        width: 80%;
    }

    #service {
        height: 80vh;
        padding-bottom: 20vh;
    }

    #service img {
        width: 95vw;
        height: auto;
        padding-top: 15vh;
    }
}

@media(max-width:480px) {

    #main p.title.white,
    #main #about p.title {
        font-size: 2rem;
        width: 330px;
    }
}

@media(max-width:450px) {
    header .left a {
        width: 160px;
    }

    header nav {
        left: 17px;
    }

    #main .banner img {
        height: 67px;
    }

    #main .banner p.en {
        width: 350px;
    }

    #main .flex .item p,
    #product .flex .item p {
        font-size: 1.1rem;
    }

    #main .flex p {
        width: 90%;
    }


    #service {
        height: 60vh;
        padding-bottom: 12vh;
    }

    #service img {
        width: 90vw;
        padding-top: 9vh;
    }
}

@media (max-width:414px) {
    #main .row2 .flex.one {
        width: 80%;
    }

    header.scroll .left a.login,
    header .left a.login {
        top: 19px;
        right: 10px;
    }

    #main .flex .item {
        width: 50%;
    }

    #main .title {
        font-size: 1.7rem;
    }

    #main .banner img {
        height: 60px;
    }

    #main .row1 {
        width: 100%;
    }

    #product span {
        width: 90%;
    }

    #main p.title.white,
    #main #about p.title {
        font-size: 1.5rem;
        width: 245px;
    }

    #main .banner p.en,
    #main p.description,
    #main .flex span {
        font-size: .85rem;
    }

    #contact .left {
        padding: 30px 20px 50px;
    }

    #service p {
        left: 7px;
        font-size: 12px;
        width: 100%;
    }
}

@media(max-width:400px) {

    #main .flex,
    #product .flex {
        width: 100%;
    }

    #main .flex p {
        width: 95%;
    }
}

@media(max-width:375px) {
    #main .banner p.en {
        width: 320px;
    }
}

@media(max-width:350px) {
    #main .flex {
        width: 90%;
    }

}